body {
    font-family: roboto;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}

#martinImg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#meldpaBtn {
    background-color: white;
    color: #D50000;
    border: none;
    padding: 7px 15px;
    font-size: 24px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 2px 3px 0 rgba(255, 0, 0, 0.3);
}

#cutter {
    position: relative;
    bottom: calc(100vw / 10);
    width: 100%;
}

#cutter {
    position: relative;
    bottom: calc(100vw / 10);
    width: 100%;
}

#logo {
	position: fixed;
	bottom: 50px;
	left: 50px;
	width: 110px;
	z-index: 9;
}

.wrapper iframe {
    display: table;
    margin: 10px auto;
    width: 100%;
}

#counter {
    color: #D50000;
    font-size: 30px;
    display: block;
    text-align: center;

}

.wrapper {
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
	top: -150px;
}

h1{
    text-align: center;
    margin: 5px;
}

@media only screen and (max-width:1400px) {
	.wrapper {
	    top: -120px;
	}
}

@media only screen and (max-width:1015px) {
	#logo {
		position: unset;
		margin: 50px auto;
		display: table;
	}
	.wrapper {
	    top: -50px;
	}
}

@media only screen and (max-width:500px) {
    .wrapper {
        padding-top: 40px;
    }
}