body {
    font-family: roboto;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
}

#martinImg {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#meldpaBtn {
    background-color: white;
    color: #D50000;
    border: none;
    padding: 7px 15px;
    font-size: 24px;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 0 2px 3px 0 rgba(255, 0, 0, 0.3);
}

#cutter {
    position: relative;
    bottom: calc(100vw / 10);
    width: 100%;
}

iframe {
    display: table;
    margin: 10px auto;
    max-width: 100%;
}

#counter {
    color: #D50000;
    font-size: 30px;
    display: block;
}