body {
  font-family: roboto;
  padding-bottom: 125px;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
}

#martinImg {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#meldpaBtn {
  background-color: white;
  color: #d50000;
  border: none;
  padding: 10px 19px;
  font-size: 24px;
  border-radius: 34px;
  text-decoration: none;
  box-shadow: 0 1px 12px rgba(255, 0, 0, 0.6);
}

#cutter {
  position: relative;
  bottom: calc(100vw / 10);
  width: 100%;
}

#cutter {
  position: relative;
  bottom: calc(100vw / 10);
  width: 100%;
}

#logo {
  position: fixed;
  bottom: 25px;
  left: 50px;
  width: 110px;
  z-index: 9;
}

.wrapper iframe {
  display: table;
  margin: 10px auto;
  width: 100%;
}

#counter {
  color: #d50000;
  font-size: 30px;
  display: block;
  text-align: center;
}

.wrapper {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: -150px;
}

h1 {
  text-align: center;
  margin: 5px;
}

.drone {
  width: 100%;
}

#facebook-container {
  position: relative;
  padding-bottom: 10px;
  padding-top: 35px;
  height: 400px;
  overflow: hidden;
  width: 100%;
}

#facebook-iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 1400px) {
  .wrapper {
    top: -120px;
  }
}

@media only screen and (max-width: 1015px) {
  #logo {
    position: unset;
    margin: 50px auto;
    display: table;
  }
  .wrapper {
    top: -50px;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    padding-top: 40px;
  }
}
